.bod {
  padding-top: 80px;
  padding-bottom: 80px;

  .text-center {
    padding-top: 30px;
    h1 {
      font-size: 62px;
      color: rgb(101, 184, 74);
      font-weight: 800;
    }
    .h1 {
      color: rgb(51, 144, 225);
    }

    p {
      font-size: 24px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 0px;
    }
  }

  .text-center1 {
    img {
      border-radius: 60px 60px 60px 60px;
      width: 100%;
      height: 420px;
      margin-bottom: 43px;
      
    }
    
  }
  .btn{
    width: 160px;
    height: 50px;
    font-size: 16px;

  }
}
