.bod {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color:#2979ff;
  

  .text-center {
    padding-top:80px;
    h1 {
      font-size: 62px;
      color: rgb(255, 255, 255);
      font-weight: 800;
    }
    .h1 {
      color: rgb(255, 255, 255);
    }

    p {
      font-size: 18px;
      font-weight: 400;
      padding-top: 10px;
      padding-bottom: 20px;
      color: white;
    }
  }

  .text-center1 {
    img {
      border-radius: 22px;
      width: 100%;
      height: 100%;
      margin-bottom: 43px;
      
    }
    
  }
  .btn{
    width: 160px;
    height: 50px;
    font-size: 16px;
    background-color: rgb(225, 144, 51);

  }
  
}
.bod {
  background-image: url("../assets/1.webp");
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Avoids repeating the image */
  height: 100vh; /* Sets the height to cover the full viewport */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  color: white; /* Adjusts text color for visibility over the background */
  text-align: center; /* Centers the text */
  padding: 20px;
  opacity: 50% ; 
  stroke-opacity: black; 
}
