.main {
  background-color: #b95555;

  .cont {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: auto;
    
    .nav-container {
      padding: 0;
      margin: 0;
      
      img {
        height: 100px;
        max-height: 100%;
      }
    }

    .search-container {
      display: flex;
      justify-content: center;
      width: 100%;

      .search {
        width: 100%;
        max-width: 1000px;
      }
    }

    .but {
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }
  }
}
