.main {
  background-color: rgb(255, 255, 255);
  
  .cont {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
    .nav-container {
      padding:0;
      margin: 0;
      img{
        height: 100px;
      }
    }
  }
}
