.main {
  background-color:#2979ff;
  padding: 0;
  height: 100%;

  .contain {
    padding: 0;

    .cont {
      margin: auto;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      background-color:#2979ff;

      .im {
        flex: 0;
        padding: 4px;
      }

      .img {
        max-width: 150px;
      }

      .search-cont {

        flex: 1;
        width: 100%;

        .search-container {
          margin: auto;
          width: 650px;
          max-width: 100%;
          display: flex;
          justify-content: space-between;

          .search {
            height: 40px;
            font-size: 18px;
            font-weight: 400;
            padding: 0 20px;
            border: none;
            margin: auto;
            border-radius: 4px 0px 0px 4px;
          }
          .search-btn {
            border-radius: 0;
            background-color: rgb(225, 144, 51);
            border: none;
            border-radius: 0px 4px 4px 0px;
          }
        }
      }

      .login {
        flex: 0;
        width: 100%;

        img {
          padding-bottom: 12px;
        }
      }
    }
  }
  @media (max-width: 710.98px) {
    height: 100px;
  }
  @media (max-width: 768.98px) {
    .search-cont {
      max-width: 400px;
    }
  }
}
.second-nav {
  background-color:#2979ff;
 
  width: 100%;

  .se {
  }
  .nav2 {
    width: 980px;
    display: flex;
    justify-content: space-between;

    .nav-link {
      font-size: 17px;
      font-weight: 500;
      color: rgb(255, 255, 255);
      padding: 0px;
    }
   
  }
  
}

