.main {
  background-color: #2979ff;
  padding: 0;

  .contain {
    padding: 0;
    .cont {
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
      margin: auto;

      .nav-container {
        padding: 0;
        margin: 0;

        img {
          height: 100px;
          max-height: 100%;
        }
      }
      .search-cont {
        padding: 0;
        width: 100%;
        .search-container {
          width: 600px;
          max-width: 100%;

          .search {
            width: 100%;
            height: 52px;
            padding: 0;
          }
        }
      }
      .but {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        button {
          background-color: rgb(144, 225, 51);
          color: black;
          font-size: 24px;
          font-weight: 400;
          width: 180px;
        }
      }
    }
  }
}
